@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

:root{
    --font: 'Opens Sans', 'Arial';

    --cor-1: #569644;
    --cor-2: #59882F;
    --cor-3: #1C3013;
    --cor-4: #622295;
    --cor-5: #71379F;
}
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: var(--font);
    text-align: center;
    background-color: rgba(206, 206, 206, 0.671);
}

main{
    display: grid;
    place-items: center;
    min-height: 100vh;
}

h2{
    text-transform: capitalize;
    color: var(--cor-3);
    font-size: 2.1rem;
    margin-top: 2.5rem;
}

.underline{
    background-color: var(--cor-1);
    height: 4px;
    width: 100px;
    margin: auto;
    border-radius: 3px;
    margin-bottom: 3.6rem;
    margin-top: 1.6rem;
}

section{
    width: 80vw;
    max-width: 620px;
}

article{
    padding: 1.5rem 2rem;
    transition: 0.5s;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 2em;
}
article:hover{
    box-shadow: 1px 2px 11px 4px rgba(0, 0, 0, 0.137);
}

.img-container{
    position: relative;
    height: 170px;
    width: 170px;
    border-radius: 50%;
    margin: auto;
    margin-bottom: 1rem;
}
#person-img{
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    border-radius: 50%;
}
.img-container::after{
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f10e';
    position: absolute;
    top: 0;
    left: 0;
    width: 2.5rem;
    height: 2.5rem;
    color: white;
    background-color: var(--cor-2);
    border-radius: 50%;
    transform: translateY(25%);
    place-items: center;
    display: grid;
}
.img-container::before{
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--cor-2);
    position: absolute;
    top: -0.25rem;
    right: -0.5rem;
}

#author{
    text-transform: capitalize;
    margin: 0.5rem 0 0.35rem 0;
    color: var(--cor-5);
}

#job{
    text-transform: uppercase;
    font-weight: lighter;
    color: var(--cor-4);
    margin: 0.8rem 0 0.8rem 0;
}

#info{
    color: var(--cor-3);
    line-height: 1.1;
    letter-spacing: 0.8px;
    font-size: 15px;
    margin-bottom: 0.8rem;
}

.prev-btn, .next-btn{
    font-size: 23px;
    margin: 0.4rem 0.7rem 0.7rem 0.7rem;
    border: 0px;
    cursor: pointer;
    transition: 0.3s;
    color: var(--cor-1);
}
.prev-btn:hover, .next-btn:hover{
    color: var(--cor-4);
}

.random-btn{
    padding: 0.3rem 0.4rem;
    color: var(--cor-3);
    border: 2px solid var(--cor-5);
    border-radius: 4px;
    font-size: 15px;
    text-transform: capitalize;
    margin-top: 0.6rem;
    cursor: pointer;
    transition: 0.5s;
}
.random-btn:hover{
    border: 2px var(--cor-1) solid;
    color: var(--cor-4);
}